@page "/studentdetail/{id}"

<h3 class="text-center" style="font-weight:bold;">DETAIL STUDENTS</h3>
<br>

<p>NIM              : @Student.studentID</p>
<p>Nama Belakang    : @Student.lastName</p>
<p>Nama Depan       : @Student.firstName</p>
<p>Tanggal Masuk    : @Student.enrollmentDate</p>

<a href="studentspage" class="btn btn-secondary" data-bs-placement="top" title="Back">Back</a>